<div class="container">
  <div class="row">
    <h1>Instructions</h1>
    <p>
      Please read and follow the following instructions:
    </p>
    <blockquote>
      <p>
        The exam can only be taken once, when started and questions are
        displayed You must<br />
        submit the answers, failing to do so results in failure. <br>
        You need new invitation to re-take
        the exam<br />
        The exam will be one page with 3 programming questions, timed for 120
        minutes (2 hours).<br />
      </p>
      <footer>Good Luck!!! and Click start to begin.</footer>
    </blockquote>

    <button class="btn btn-primary" (click)="onStart()">Start Test</button>
  </div>
</div>
