<div class="container p-3 mb-2 bg-secondary text-white">
  <div class="row">
    <h1>Instructions</h1>
    <p>
      Please read and follow the following instructions:
    </p>
    <blockquote>
      <p>
        The exam can only be taken once, when started and questions are
        displayed student must<br />
        submit the answers or they fail. (They will need new invitation to take
        the exam again)<br />
        The exam will be one page with 3 programming questions, timed for 120
        minutes (2 hours).<br />
      </p>
      <footer>Click start to begin.</footer>
    </blockquote>

    <button class="btn btn-primary" (click)="onStart()">Start Test</button>
  </div>
</div>
