<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <b (click)="routeComponent('question')">Questions</b>
    </ng-template>
    <ng-template ngbTabContent>
      <router-outlet name="question"></router-outlet>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <b (click)="routeComponent('adminstaff')">Staff</b>
    </ng-template>
    <ng-template ngbTabContent>
      <router-outlet name="adminstaff"></router-outlet>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Review</b></ng-template>
    <ng-template ngbTabContent>
      <p>Review.</p>
    </ng-template>
  </ngb-tab>

</ngb-tabset>
