<button mat-raised-button (click)="addQuestion()">+ add</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Active/Deactive</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let staff of staffList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ staff.title}}</td>
    <td>{{ staff.firstName + " " + staff.lastName}}</td>
    <td>{{ staff.email }}</td>
    <td align="center">
      <input type="checkbox" [ngModel]="staff.status" (change)="changeStatus(staff) ">
    </td>

  </tr>
  </tbody>
</table>
